.container
  .content
    %p
      %h5= 'Latest Fav は一番最近いいねされた自分のツイートを探せるサービスです。'
    %div
      %p= 'あの人からの一番最近いいねされたツイートを調べて承認欲求を充しましょう。'
      %p= '※このサービスが許可なくあなたのタイムラインに書き込むことはありません。'


    %div
      - if logged_in?
        = link_to 'スクリーンネーム(ID)で調べる', new_user_form_path, class: 'btn btn-primary'
      - else
        = link_to 'Twitterでログイン', 'auth/twitter', class: 'btn btn-primary'
